BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "FCK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DB_in[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DB_in[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DB_in[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DB_in[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TX" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "QB[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "QB[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "QB[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "QB[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "RX" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "RST" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "TP3" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "TP4" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
LOCATE COMP "FCK" SITE "73" ;
LOCATE COMP "DB_in[1]" SITE "13" ;
LOCATE COMP "DB_in[2]" SITE "15" ;
LOCATE COMP "DB_in[3]" SITE "17" ;
LOCATE COMP "DB_in[4]" SITE "20" ;
LOCATE COMP "TX" SITE "48" ;
LOCATE COMP "ENB_neg[1]" SITE "31" ;
LOCATE COMP "ENB_neg[2]" SITE "28" ;
LOCATE COMP "ENB_neg[3]" SITE "22" ;
LOCATE COMP "ENB_neg[4]" SITE "21" ;
LOCATE COMP "ONB_neg[1]" SITE "1" ;
LOCATE COMP "ONB_neg[2]" SITE "2" ;
LOCATE COMP "ONB_neg[3]" SITE "3" ;
LOCATE COMP "ONB_neg[4]" SITE "4" ;
LOCATE COMP "ONB_neg[5]" SITE "9" ;
LOCATE COMP "ONB_neg[6]" SITE "10" ;
LOCATE COMP "ONB_neg[7]" SITE "11" ;
LOCATE COMP "ONB_neg[8]" SITE "41" ;
LOCATE COMP "ONB_neg[9]" SITE "63" ;
LOCATE COMP "ONB_neg[10]" SITE "61" ;
LOCATE COMP "ONB_neg[11]" SITE "59" ;
LOCATE COMP "ONB_neg[12]" SITE "57" ;
LOCATE COMP "ONB_neg[13]" SITE "81" ;
LOCATE COMP "ONB_neg[14]" SITE "83" ;
LOCATE COMP "ONB_neg[15]" SITE "85" ;
LOCATE COMP "ONB_neg[16]" SITE "87" ;
LOCATE COMP "QB[1]" SITE "33" ;
LOCATE COMP "QB[2]" SITE "32" ;
LOCATE COMP "QB[3]" SITE "34" ;
LOCATE COMP "QB[4]" SITE "35" ;
LOCATE COMP "RX" SITE "47" ;
LOCATE COMP "RST" SITE "54" ;
LOCATE COMP "TP1" SITE "50" ;
LOCATE COMP "TP2" SITE "139" ;
LOCATE COMP "TP4" SITE "142" ;
LOCATE COMP "TP3" SITE "94" ;
LOCATE COMP "RCK_out" SITE "100" ;
IOBUF PORT "RCK_out" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ENB_neg[1]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ENB_neg[2]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ENB_neg[3]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ENB_neg[4]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[1]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[2]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[3]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[4]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[5]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[6]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[7]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[8]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[9]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[10]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[11]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[12]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[13]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[14]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[15]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "ONB_neg[16]" PULLMODE=UP IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=8 ;
