BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "FCK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DB_in[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DB_in[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DB_in[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DB_in[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "SCK_in" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "TL_in" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ENB[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ENB[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ENB[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ENB[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[14]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[15]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ONB[16]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "QB[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "QB[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "QB[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "QB[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "RL" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "RST" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "TP3" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "TP4" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "FCK" SITE "73" ;
LOCATE COMP "DB_in[1]" SITE "13" ;
LOCATE COMP "DB_in[2]" SITE "15" ;
LOCATE COMP "DB_in[3]" SITE "17" ;
LOCATE COMP "DB_in[4]" SITE "20" ;
LOCATE COMP "SCK_in" SITE "100" ;
LOCATE COMP "TL_in" SITE "48" ;
LOCATE COMP "ENB[1]" SITE "31" ;
LOCATE COMP "ENB[2]" SITE "28" ;
LOCATE COMP "ENB[3]" SITE "22" ;
LOCATE COMP "ENB[4]" SITE "21" ;
LOCATE COMP "ONB[1]" SITE "1" ;
LOCATE COMP "ONB[2]" SITE "2" ;
LOCATE COMP "ONB[3]" SITE "3" ;
LOCATE COMP "ONB[4]" SITE "4" ;
LOCATE COMP "ONB[5]" SITE "9" ;
LOCATE COMP "ONB[6]" SITE "10" ;
LOCATE COMP "ONB[7]" SITE "11" ;
LOCATE COMP "ONB[8]" SITE "41" ;
LOCATE COMP "ONB[9]" SITE "63" ;
LOCATE COMP "ONB[10]" SITE "61" ;
LOCATE COMP "ONB[11]" SITE "59" ;
LOCATE COMP "ONB[12]" SITE "57" ;
LOCATE COMP "ONB[13]" SITE "81" ;
LOCATE COMP "ONB[14]" SITE "83" ;
LOCATE COMP "ONB[15]" SITE "85" ;
LOCATE COMP "ONB[16]" SITE "87" ;
LOCATE COMP "QB[1]" SITE "33" ;
LOCATE COMP "QB[2]" SITE "32" ;
LOCATE COMP "QB[3]" SITE "34" ;
LOCATE COMP "QB[4]" SITE "35" ;
LOCATE COMP "RL" SITE "47" ;
LOCATE COMP "RST" SITE "54" ;
LOCATE COMP "TP1" SITE "50" ;
LOCATE COMP "TP2" SITE "139" ;
LOCATE COMP "TP4" SITE "142" ;
LOCATE COMP "TP3" SITE "94" ;
